.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.weatherIcon {
  margin-bottom: -40px;
  margin-top: -30px;
  background-color: white;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: -25px;
  border-radius: 50%;
}

.weatherData {
  margin-top: -14px;
}

.intro {
  margin-top: -20px;
}